<div class="wrapper">
  <div id="sec1">
    <h1>Erevu AI Labs</h1>
    <p>Changing the way people think about code.</p>
    <div>
      <button class="btn-green">Learn More</button>
      <button class="btn-default">Create Model</button>
    </div>
  </div>
  <div id="sec2">
    <div class="photo">
      <img src="assets/finance.svg">
    </div>
  </div>
</div>

<div id="products">

  <div class="sales-point">
    <img src="assets/img/sales-responsive.png" alt="">
    <h2>Responsive Design</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus hendrerit posuere finibus. Phasellus nibh
      lorem, cursus eu justo in, bibendum rutrum diam. </p>
  </div>
  <div class="sales-point">
    <img src="assets/img/sales-hand.png" alt="">
    <h2>Easy to Set up</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus hendrerit posuere finibus. Phasellus nibh
      lorem, cursus eu justo in, bibendum rutrum diam. </p>
  </div>
  <div class="sales-point">
    <img src="assets/img/sales-graph.png" alt="">
    <h2>Great results</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus hendrerit posuere finibus. Phasellus nibh
      lorem, cursus eu justo in, bibendum rutrum diam. </p>
  </div>


</div>
